*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,#0a0a0a,#0a0b0c);
}

.calculator{
    padding: 15px;
    box-shadow: 0 0 8px black;
    border: 2px solid rgb(17, 16, 16);
    border-radius: 15px;
}

.display input{
    width: 360px;
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    background: transparent;
    color: white;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}


input::placeholder{
    color: #fff;
}
button{
    width: 70px;
    height: 70px;
    margin: 10px;
    background: transparent;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    border: 0;
    border-radius: 50%;
    box-shadow: -5px -6px -4px #000;
    outline: 1px solid #181616;
    outline-offset: 3px;
    cursor: pointer;
}

button:active{
    background: #000;
    transform: translate(2px,2px);
}
 .opr{
    color: rgb(241, 92, 6);
    background: #181515;
    font-weight: 700;

 }

 #eqBtn{
    background: rgb(248, 18, 2);
    font-weight: 900;
 }